body {
    background:#141e30;
    color:white;
    font-family:Verdana;
    padding:50px;
}

.mediaGrid {
    display:flex;
    justify-content:space-around;
}

.block {
    background:#243b55;
    padding:25px;
    border-radius:20px;
    width:400px;
    text-align:center;
}

h2 {
    margin-bottom:20px;
    letter-spacing:2px;
}