body {
    background:#1e272e;
    display:flex;
    justify-content:center;
    padding:60px;
    font-family:Calibri;
}

.register {
    background:#485460;
    padding:40px;
    width:400px;
    border-radius:15px;
    color:white;
}

form {
    display:grid;
    gap:15px;
}

input, button {
    padding:10px;
    border:none;
    border-radius:5px;
}

button {
    background:#0be881;
    color:black;
    font-weight:bold;
    cursor:pointer;
}

.terms {
    font-size:14px;
}