body {
    background:#0d1117;
    color:#58a6ff;
    font-family:Consolas;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.terminal {
    width:900px;
    background:#161b22;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 20px #58a6ff;
}

button {
    padding:10px 20px;
    background:#238636;
    border:none;
    color:white;
    cursor:pointer;
}

pre {
    margin-top:20px;
    white-space:pre-wrap;
}