body {
    margin:0;
    font-family:Segoe UI;
    background:#f7f9fc;
}

header {
    background:#222;
    color:white;
    padding:20px;
    text-align:center;
}

.inputArea {
    text-align:center;
    margin:20px;
}

input,button {
    padding:10px;
    margin:5px;
}

.board {
    display:flex;
    justify-content:space-evenly;
}

.column {
    width:30%;
    min-height:300px;
    background:#e0e0e0;
    padding:15px;
    border-radius:15px;
}

.complete {
    background:#d1ffd1;
}

.task {
    background:white;
    padding:10px;
    margin:10px 0;
    border-radius:10px;
    cursor:grab;
}