body {
background: linear-gradient(to bottom, #a18cd1, #fbc2eb);
font-family: sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.formBox {
background: white;
padding: 25px;
border-radius: 15px;
width: 260px;
display: flex;
flex-direction: column;
gap: 10px;
}

input {
padding: 8px;
border-radius: 6px;
border: 1px solid #ccc;
}

button {
padding: 10px;
background: #6a5acd;
color: white;
border: none;
border-radius: 6px;
}

span {
color: red;
font-size: 12px;
}