body {
    margin:0;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:linear-gradient(120deg,#ff9966,#ff5e62);
    font-family:Trebuchet MS;
}

.canvasWrap {
    text-align:center;
    background:white;
    padding:40px;
    border-radius:30px 5px 30px 5px;
}

canvas {
    border:4px dashed #333;
    margin-top:20px;
}