body {
    margin:0;
    height:100vh;
    display:grid;
    place-items:center;
    background:linear-gradient(45deg,#ff9a9e,#fad0c4);
    font-family:Verdana;
}

.contactBox {
    background:white;
    padding:40px;
    width:350px;
    border-radius:20px;
}

form {
    display:flex;
    flex-direction:column;
}

label {
    margin-top:10px;
}

input, textarea {
    padding:8px;
    margin-top:5px;
}

button {
    margin-top:15px;
    padding:10px;
    background:#ff6f61;
    color:white;
    border:none;
    cursor:pointer;
}