body{background:#111827;color:#e5e7eb;font-family:Tahoma;padding:30px}
h1{text-align:center;color:#34d399}
.item{display:flex;justify-content:space-between;margin:10px 0}
button{background:#34d399;border:none;padding:6px 10px;border-radius:4px}
input{padding:6px;border-radius:4px;border:none}
#total{font-size:20px;margin-top:20px}
