body {
    margin:0;
    font-family: Arial;
}

header {
    background: #6a11cb;
    color: white;
    padding: 20px;
    text-align: center;
}

.content {
    padding: 40px;
}

form {
    display:flex;
    gap:10px;
    justify-content:center;
}

.card {
    background:#f2f2f2;
    margin-top:15px;
    padding:15px;
}