body {
    background: #f4f6f9;
    font-family: Tahoma;
    padding: 50px;
}

.searchBox {
    max-width: 600px;
    margin: auto;
}

input {
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 3px solid #333;
    outline: none;
    font-size: 16px;
}

.card {
    background: white;
    padding: 15px;
    margin-top: 15px;
    border-left: 5px solid #333;
}