body {
background: radial-gradient(circle, #11998e, #38ef7d);
font-family: Tahoma;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.db {
background: white;
padding: 25px;
border-radius: 15px;
text-align: center;
}