body {
    background:#f0f4f8;
    font-family:Arial;
    display:flex;
    justify-content:center;
    padding:50px;
}

.marks {
    width:800px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 20px rgba(0,0,0,0.2);
}

h2 {
    text-align:center;
    margin-bottom:20px;
}

table {
    width:100%;
    border-collapse:collapse;
    text-align:center;
}

th {
    background:#2c3e50;
    color:white;
    padding:10px;
}

td {
    padding:10px;
    border-bottom:1px solid #ddd;
}