body {
    font-family: Arial;
    background: #eef2f3;
    padding: 40px;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 8px;
}

input, button {
    padding: 8px;
    margin: 5px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

button {
    background: #444;
    color: white;
    border: none;
}